html {
    scroll-behavior: smooth;
}

.target-element {
    scroll-margin-top: 200px;
    padding-top: 200px;
}

body {
    background-color: hsl(0, 0%, 0%);
    overflow-x: hidden;
}

.navbutton {
    color: #ffffff;
    transition: ease-out 0.2s;
}

.navbutton:hover {
    cursor: pointer;
    color: #aad5ff;
    transition: ease 0.2s;
}

.navbutton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #aad5ff;
    transition: transform 0.2s ease-out;
}

.navbutton:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.Title {
    color: #ffffff;
    text-align: center;
    font-family: system-ui;
    margin-top: 150px;
    font-size: 60px;
}

#profile {
    display: block;
    height: 300px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 45px;
    border-radius: 20px;
}

#profile.in-view {
    animation: fade-in 1s forwards;
}

#contentImg {
    height: 200px;
    margin-bottom: 30px;
}

#smallcontentImg {
    height: 150px;
    margin-bottom: 30px;
}

#navbar {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    margin-bottom: 100px;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

#outbar {
    margin: 30px;
    margin-left: 20%;
    height: fit-content;
    width: fit-content;
    background: #181818;
    border-radius: 10px;
    display: flex;
}

#bar {
    background:hsl(0, 0%, 0%);
    margin: 2px 2px 2px 2px;
    border-radius: 10px;
}

#Intro {
    max-width: 700px;
    padding: 0px 20px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}

#About, #Experience, #Projects {
    max-width: 700px;
    height: auto;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 250px;
    text-align: left;
}

.navbutton {
    margin: 0px 5px -5px 5px;
    width: auto;
    height: 50px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: transparent;
    transform: translateY(-5px);
    border-width: 0px;
}

.typewriter {
    display: flex;
    justify-content: center;
}

#Home {
    margin-inline: auto;
    white-space: nowrap;
    overflow: hidden;
}

#Home.in-view {
    animation: typing 1.2s steps(22) forwards;
}

@keyframes typing {
    from {
        width: 0;
        opacity: 0;
        filter: blur(5px);
    }

    30% {
        width: 160px;
        opacity: 1;
    }

    70% {
        width: 160px;
        filter: blur(0);
    }

    to {
        width: 425px;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#home {
    font-weight: bold;
    font-size: 22px;
    transform: translateY(-5px);
    color: #aad5ff;
}

#github {
    color: #ffffff;
    background-color: transparent;
    border-width: 0px;
    margin: 50px;
    margin-left: -400%;
    font-size: 20px;
}

#github:hover {
    cursor: pointer;
    color: #aad5ff;
    transition: ease 0.2s;
}

#Cat {
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
    animation: roll 2s infinite ease-in-out;
    font-size: 10px;
    color: #ffffff;
}

@keyframes roll {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}

.Header1 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: system-ui;
    font-weight: bold;
}

.Header1.in-view {
    animation: delayed-fade-in 4s forwards;
}

@keyframes delayed-fade-in {
    from { opacity: 0; filter: blur(5px); };
    50% { opacity: 0; filter: blur(2px); };
    to { opacity: 1 };
}

@keyframes fade-in {
    from { opacity: 0; filter: blur(5px); };
    to { opacity: 1 };
}

.Header2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: system-ui;
    font-weight: 600;

}

.Header2.in-view {
    animation: fade-in 1s forwards;
}

.Content1 {
    color: #ffffff;
    font-size: 15px;
    font-family: system-ui;
    text-align: center;
    margin: auto;
    line-height: 1.8;
    letter-spacing: 0.5px;
}

.Content1.in-view {
    animation: delayed-fade-in 6s forwards;
}

.Content2 {
    color: #ffffff;
    font-size: 15px;
    font-family: system-ui;
    text-align: left;
    margin: auto;
    line-height: 1.8;
    letter-spacing: 0.5px;
}

.Content2.in-view {
    animation: fade-in 1.5s forwards;
}

#languages {
    word-spacing: 21px;
}

.langbutton1, .langbutton2 {
    background-color: transparent;
    border-width: 0;
    color: #ffffff;
    font-size: medium;
    height: 50px;
    width: auto;
    border-radius: 20px;
    transition: ease-out 0.2s;
}

.langbutton1.in-view, .langbutton2.in-view {
    animation: fade-in 1.5s forwards;
}

.langbutton1:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #aad5ff;
    transition: ease 0.2s;
}

.langbutton2:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #b2a8ff;
    transition: ease 0.2s;
}

.langbutton1::first-letter {
    color: #aad5ff;
}

.langbutton2::first-letter {
    color: #b2a8ff;
}

.containerOuter {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.containerInner {
    background-color: hsl(0, 0%, 0%);;
    border-radius: 5px;
    width: 100%;
    height: auto;
    transform: translateX(5px);
    padding-left: 30px;
}

.containerHeader {
    color: #ffffff;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 500;
}

.containerHeader.in-view {
    animation: fade-in 1s forwards;
}

.containerContent {
    color: #ffffff;
    margin: 0px 0px 10px -20px;
    font-size: 15px;
    font-family: system-ui;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.containerContent.in-view {
    animation: fade-in 1s forwards;
}

.containerDetail {
    color: #d4d4d4;
    margin: 0px 0px 0px -20px;
    font-size: 13px;
    font-family: system-ui;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.containerDetail.in-view {
    animation: fade-in 1s forwards;
}

#tinkerBullet::marker {
    color: #aad5ff;
}

#schoolBullet::marker {
    color: #8097ff;
}

#workBullet::marker {
    color: #4f6fff;
}

#aiBullet::marker {
    color: #4d4aff;
}

#algoBullet::marker {
    color: #6f4fff;
}

#softwareBullet::marker {
    color: #9258ff;
}

#footer {
    color: #9ba1a1;
    text-align: center;
    margin-bottom: 80px;
    font-family: system-ui;
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
}

.target-element {
    scroll-margin-top: 200px;
    padding-top: 200px;
}

body {
    background-color: hsl(0, 0%, 0%);
    overflow-x: hidden;
}

.navbutton {
    color: #ffffff;
    transition: ease-out 0.2s;
}

.navbutton:hover {
    cursor: pointer;
    color: #aad5ff;
    transition: ease 0.2s;
}

.navbutton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #aad5ff;
    transition: transform 0.2s ease-out;
}

.navbutton:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.Title {
    color: #ffffff;
    text-align: center;
    font-family: system-ui;
    margin-top: 80px;
    font-size: 60px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

#outbar {
    margin: 30px;
    margin-left: 20%;
    height: fit-content;
    width: fit-content;
    background: #181818;
    border-radius: 10px;
    display: flex;
}

#bar {
    background:hsl(0, 0%, 0%);
    margin: 2px 2px 2px 2px;
    border-radius: 10px;
}

#Intro {
    max-width: 700px;
    padding: 0px 20px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}

#About, #Experience, #Projects {
    max-width: 700px;
    margin: 0px 20px 0px 0px;
    height: auto;
    margin: auto;
    margin-bottom: 200px;
    text-align: left;
}

.navbutton {
    margin: 0px 5px -5px 5px;
    width: auto;
    height: 50px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: transparent;
    transform: translateY(-5px);
    border-width: 0px;
}

#home {
    font-weight: bold;
    font-size: 22px;
    transform: translateY(-5px);
    color: #aad5ff;
}

#github {
    color: #ffffff;
    background-color: transparent;
    border-width: 0px;
    margin: 50px;
    margin-left: -400%;
    font-size: 20px;
}

#github:hover {
    cursor: pointer;
    color: #aad5ff;
    transition: ease 0.2s;
}

#Cat {
    text-align: center;
    animation: roll 2s infinite ease-in-out;
    font-size: 10px;
    color: #ffffff;
}

@keyframes roll {
    0% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}

.Header1 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: system-ui;
    font-weight: bold;
}

.Header2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: system-ui;
    font-weight: 600;
}

.Content1 {
    color: #ffffff;
    font-size: 15px;
    font-family: system-ui;
    text-align: center;
    margin: auto;
    line-height: 1.8;
    letter-spacing: 0.5px;
}

.Content2 {
    color: #ffffff;
    font-size: 15px;
    font-family: system-ui;
    text-align: left;
    margin: auto;
    line-height: 1.8;
    letter-spacing: 0.5px;
}

#languages {
    word-spacing: 21px;
}

.langbutton1, .langbutton2 {
    background-color: transparent;
    border-width: 0;
    color: #ffffff;
    font-size: medium;
    height: 50px;
    width: auto;
    border-radius: 20px;
    transition: ease-out 0.2s;
}

.langbutton1:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #aad5ff;
    transition: ease 0.2s;
}

.langbutton2:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #b2a8ff;
    transition: ease 0.2s;
}

.langbutton1::first-letter {
    color: #aad5ff;
}

.langbutton2::first-letter {
    color: #b2a8ff;
}

.containerOuter {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.containerInner {
    background-color: hsl(0, 0%, 0%);;
    border-radius: 5px;
    width: 100%;
    height: auto;
    transform: translateX(5px);
    padding-left: 30px;
}

.containerHeader {
    color: #ffffff;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 500;
}

.containerContent {
    color: #ffffff;
    margin: 0px 0px 10px -20px;
    font-size: 15px;
    font-family: system-ui;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.containerDetail {
    color: #d4d4d4;
    margin: 0px 0px 0px -20px;
    font-size: 13px;
    font-family: system-ui;
    font-weight: normal;
    letter-spacing: 0.5px;
}

#tinkerBullet::marker {
    color: #aad5ff;
}

#schoolBullet::marker {
    color: #8097ff;
}

#workBullet::marker {
    color: #4f6fff;
}

#aiBullet::marker {
    color: #4d4aff;
}

#algoBullet::marker {
    color: #6f4fff;
}

#softwareBullet::marker {
    color: #9258ff;
}

#footer {
    color: #9ba1a1;
    text-align: center;
    margin-bottom: 80px;
    font-family: system-ui;
    font-size: 15px;
}