body {
    background-color: #0a0a0a;
}

.Title {
    color: #ffffff;
    text-align: center;
    font-family: system-ui;
    font-size: 60px;
}

#navbar {
    margin: auto;
    text-align: center;
}

#navbuttons {
    margin: 0px 650px 0px 0px;
}

.navbutton {
    margin: 30px 15px 0px 0px;
    width: auto;
    height: 50px;
    font-size: 15px;
    color: #ffffff;
    background-color: transparent;
    border-width: 0px;
}

#home {
    font-weight: bold;
    font-size: 22px;
    transform: translateY(-5px);
    color: #b2def0;
}